.colladge-join {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color $animation-style;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 12px;
    fill: $primary-white-color;
  }
}
