.features {
  @include respond-to(mobile) {
    display: flex;
    flex-direction: column;
  }

  @include respond-to(tablet) {
    align-items: center;
    justify-content: flex-start;
  }

  @include respond-to(desktop) {
    flex-direction: row;
    width: calc((100% - 90px) / 4);
    color: $primary-text-color;
  }

  &__item {
    @include respond-to(mobile) {
      display: flex;
    }

    @include respond-to(tablet) {
      align-items: center;
      justify-content: flex-start;
    }

    @include respond-to(desktop) {
      min-width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__title {
    color: $title-text-color;

    font-size: $main-fz;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__wrap {
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;
      background: $primary-button-bg-color;
      border-radius: 4px;
      margin-bottom: 30px;
      width: 450px;
    }

    @include respond-to(tablet) {
      align-items: center;
      justify-content: flex-start;
    }

    @include respond-to(desktop) {
      display: inline-flex;
      width: 270px;
    }
  }

  &__icon {
    @include respond-to(mobile) {
      width: 70px;
      height: 70px;
      margin: 25px 190px;
    }

    @include respond-to(tablet) {
      align-items: center;
      justify-content: flex-start;
    }

    @include respond-to(desktop) {
      margin: 25px 100px;
    }
  }
}
