.features {
  @include respond-to(mobile) {
    display: flex;
    flex-direction: column;
  }

  @include respond-to(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include respond-to(desktop) {
    flex-wrap: nowrap;
    width: calc((100% - 90px) / 4);
    color: $primary-text-color;
  }

  &__item {
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;

      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 60px;
      }
    }

    @include respond-to(tablet) {
      align-items: center;

      max-width: 354px;
    }

    @include respond-to(desktop) {
      max-width: 270px;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    color: $title-text-color;

    font-size: $main-fz;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;
  }

  &__wrap {
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;

      background: $primary-button-bg-color;
      border-radius: 4px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    @include respond-to(tablet) {
      max-width: 354px;
    }

    @include respond-to(desktop) {
      display: inline-flex;
      max-width: 270px;
    }
  }

  &__icon {
    @include respond-to(mobile) {
      width: 70px;
      height: 70px;
      margin: 25px auto;
    }

    @include respond-to(tablet) {
    }

    @include respond-to(desktop) {
      margin: 25px 100px;
    }
  }
}
