.footer {
  background-color: $secondary-bg-color;

  & .container {
    @include respond-to(mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include respond-to(tablet) {
      flex-direction: row;

      &:last-child {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    @include respond-to(desktop) {
      flex-direction: row;
    }
  }
}
