.header {
  border-bottom: 1px solid $primary-border-color;

  & .container {
    @include respond-to(mobile) {
      display: flex;
    }

    @include respond-to(tablet) {
    }

    @include respond-to(desktop) {
      align-items: center;
      justify-content: flex-start;
    }
  }
}
