.site-nav {
  display: flex;
  margin-left: 93px;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--current {
      color: $accent-color;

      &::after {
        content: '';

        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;

        background-color: $accent-color;
        border-radius: 2px;
      }
    }
  }
}
