.join-us {
  @include respond-to(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 60px;
  }

  @include respond-to(desktop) {
    padding: 72px 0 100px 78px;
  }

  &__title {
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    color: $primary-white-color;
    margin-bottom: 20px;
  }
}
