.logo {
  @include respond-to(mobile) {
    font-size: 24px;
    line-height: 1.16;
  }

  @include respond-to(tablet) {
  }

  @include respond-to(desktop) {
  }

  &__accent {
    color: $accent-color;
  }
}

.logo__head {
  @include respond-to(mobile) {
    padding-top: 16px;
  }

  @include respond-to(tablet) {
    padding-top: 0;
  }
}
