.content {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  padding-top: 20px;

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 2px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__text {
    padding-bottom: 20px;
    padding-left: 24px;

    &--first {
      @include respond-to(mobile) {
        padding-bottom: 20px;
      }

      @include respond-to(tablet) {
        padding-bottom: 56px;
      }

      @include respond-to(desktop) {
        padding-bottom: 20px;
      }
    }
  }
}
