.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  text-align: center;
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: $main-ff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;

  border-radius: 4px;
  padding: 10px 30px;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  transition: color $animation-style, background-color $animation-style;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;
  }
}

.logo {
  color: $primary-black-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.section {
  margin: auto;
  color: var(--primary-text-color);

  line-height: 1.71;
  margin-bottom: 94px;

  &--accent {
    background-color: $primary-button-bg-color;
  }

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;

    &--hide {
      display: none;
    }

    &--team {
      padding-top: 94px;
    }
  }

  &--portfolio {
    margin-bottom: 0;
  }
}
